.navbar-brand {
		background: url('images/logo/logoSans65.png');
		background-repeat: no-repeat;
		background-position: 15px 0;
		opacity: .8;
		height: auto;
		padding-bottom: 4px;
		z-index: 100;

		h1 {
			font-family: $fontSerif;
			font-size: 1.6rem;
			text-transform: none;
			color: lighten($ltGray, 50);
			font-weight: $normal;
			margin: 0;
			padding-left: 32px;
			line-height: .7em;
			opacity: 1;
		}
		span {
			display: block;
			letter-spacing: .6rem;
			text-transform: uppercase;
			font-size: .95rem;
			font-weight: $thin;
			margin-left: -2px;

			img {
				width: 16px;
				opacity: .5;
				margin-right: 6px;
				margin-top: 2px;
				z-index: 500;
			}
		}
	}