.news {
	// General styles of section
	// @include fade();
	// margin-left: 3%;
	// margin-right: 3%;
	// background-color: $yellow;
	// @include fade();

	header {
		padding-bottom: 20px;
	}

	.content {	
		#{headings()} {
			font-family: $headFont;
			color: lighten($gray, 15);
			font-size: .8em;
			// text-transform: uppercase;
			padding-bottom: 4px;
			padding-top: 24px;
			text-align: left;

		}

		a {
			font-size: .7em;
		}

		.entry-meta {
			font-size: .7em;

		}
			

		article.blogmain {
			// background-color: $light;
			padding-left: 34px !important;
			padding-right: 34px !important;
			// border-style: solid;
			// border-width: 1px;
			// border-color: $ltGray;
			border-right: 1px solid $ltGray;

			// @include span(8 of 12)
			h1 {
				font-size: 1em;
				text-transform: none;
			}
			h2 {
				text-transform: none !important;
				font-size: 1em;
			}
			h3 {
				font-size: .4em;
				text-align: left;
			}
			a {
				color: $red;
			}
			div a {
				font-size: .7em;
				color: $gray;
			}
		}

		.blogside {
			padding-top: 36;
			// @include span(4 at 9)
			#{headings()} {
				padding-bottom: 4px;
				font-size: .7em;
				padding-top: 4px;
			}

			margin-left: 4px;
			
			
			a {
				font-size: .6em;
				color: $gray;
			}
		}

		@include breakpoint($small) {
			.blogmain {
				@include span(8 of 12)
			}

			.blogside {
				@include span(3 at 10)
			}
		}
	}
}