.news {
	// General styles of section
	background-color: lighten($yellow, 20);

	header {
		padding-bottom: 20px;
	}

	.content {	
		#{headings()} {
			font-family: $headFont;
			color: lighten($gray, 15);
			font-size: .8em;
			// text-transform: uppercase;
			padding-bottom: 4px;
			padding-top: 6px;
			text-align: left;
		}

		a {
			font-size: .7em;
		}

		.entry-meta {
			font-size: .7em;

		}
			

		.blogmain {
			background-color: lighten($yellow, 25);
			// @include span(8 of 12)
			h1.event-name {
				font-size: 1em;
			}
			h2.event-subtitle {
				font-size: .6em;
				text-transform: upper-roman;
			}
			h3.event-producer {
				font-size: .4em;
				text-align: right;
			}
			a.performance-datetime {
				color: $red;
			}
			div a {
				font-size: .7em;
				color: $gray;
			}
		}

		.blogside {
			// @include span(4 at 9)
			#{headings()} {
				padding-bottom: 4px;
				font-size: .7em;
				padding-top: 4px;
			}

			margin-left: 4px;
			
			
			a {
				font-size: .6em;
				color: $gray;
			}
		}

		@include breakpoint($small) {
			.blogmain {
				@include span(8 of 12)
			}

			.blogside {
				@include span(3 at 10)
			}
		}
	}
}