#season {
	// General styles of section
	background-color: lighten($yellow, 20);
	
	header {
		padding-bottom: 20px;
	}


	.content {	
		#{headings()} {
			font-family: $headFont;
			color: lighten($gray, 15);
			font-size: .8em;
			// text-transform: uppercase;
			padding-bottom: 6px;
			padding-top: 8px;
			// text-align: left;
		}

		a {
			font-size: .7em;
		}

		.entry-meta {
			font-size: .7em;
		}
		
		margin-top: 12px;	

		.blogmain {
			background-color: lighten($yellow, 25);
			// @include span(8 of 12)
			h1.event-name {
				font-size: 1em;
				margin-top: 36px;
			}
			h2.event-subtitle {
				font-size: .6em;
			}
			h3.event-producer {
				font-size: .4em;
				// text-align: right;
			}
			a.performance-datetime {
				color: $red;
			}
			div a {
				font-size: .7em;
				color: $gray;
			}

			p {
				font-size: .8em;
			}
		}

		.blogside {
			// @include span(4 at 9)
			#{headings()} {
				padding-bottom: 4px;
				font-size: .7em;
				padding-top: 4px;
			}

			margin-left: 4px;
			
			
			a {
				font-size: .6em;
				color: $gray;
			}
		}

		@include breakpoint($small) {
			article.blogmain {
				@include span(8 of 12)
			}

			aside.blogside {
				@include span(3 at 10)
			}
		}
	}
}

#shopping-cart {
		z-index: 1000;
	}